.account-card{
  .card-footer{
    border-top: 0;
  }

  .card-header{
    .card-title{

      font-size: 15px;
    }
  }

  .card-footer{
    font-size: 24px;

    .account-btn{
      font-size: 28px;
      padding-left: 10px;
      i{
        font-size: 28px !important;
      }
    }
  }
}

@blue: #3492e6;
.account-card-blue{
  background: @blue;
  color: lighten(@blue, 40%);

  .card-header{
    .card-title{
      color: lighten(@blue, 40%);
    }
    color: lighten(@blue, 50%);
    border-bottom: 1px lighten(@blue, 10%) solid;
  }

  .card-addon i{
    color: lighten(@blue, 20%);
  }

  .account-btn{
    i{
      font-size: 28px !important;
      color: lighten(@blue, 20%);
    }
  }
}

@green: #66CC33;
.account-card-green{
  background: @green;
  color: lighten(@green, 40%);

  .card-header{
    .card-title{
      color: lighten(@green, 40%);
    }
    color: lighten(@green, 50%);
    border-bottom: 1px lighten(@green, 10%) solid;
  }

  .card-addon i{
    color: lighten(@green, 20%);
  }

  .account-btn{
    i{
      font-size: 28px !important;
      color: lighten(@green, 20%);
    }
  }
}



@yellow: #FF6633;
.account-card-yellow{
  background: @yellow;
  color: lighten(@yellow, 40%);

  .card-header{
    .card-title{
      color: lighten(@yellow, 40%);
    }
    color: lighten(@yellow, 50%);
    border-bottom: 1px lighten(@yellow, 10%) solid;
  }

  .card-addon i{
    color: lighten(@yellow, 20%);
  }

  .account-btn{
    i{
      font-size: 28px !important;
      color: lighten(@yellow, 20%);
    }
  }
}
