
.product{


  .product-img{
    background-position: center;
    background-size: cover;
    position: relative;

    .product-flag{
      background: @color-primary;
      color: #fff;
      padding:2px 6px;
      position: absolute;
      right:0;
      bottom:0;
      font-size: @font-size-sm;
    }
  }

  .product-title{
    font-weight: normal;
    line-height: 1.2em;
    font-size: 15px !important;
    padding-bottom: 0.2em;
    width: 100%;
  }

  .product-content{
    font-size: @font-size-sm;
    color: @font-color-light;
  }

  .product-info{
    min-height: 80px;

  }

  .product-tip{
    background: @color-primary;
    color: #fff;
    font-size: @font-size-sm;
    padding:1px 3px;
    border-radius:2px;
    white-space:nowrap
  }

  .product-price{
    font-size: 15px;
  }

  .price-unit{
    font-size: @font-size-sm;
    color: @font-color-light;
  }


}

.product-single{
  .product-img{
    width: 80px;
  }
  .product-title{

    min-height: 26px;

  }

  .product-info{
    min-height: 80px;
    position:relative;
    padding-bottom: 30px;

    .product-dock{
      position: absolute;
      left:0;
      bottom:0;
      right:0;
    }
  }
}
