//require mobile/card.less style
.redbag{
  .card-content{
    background: #ee5f4f;
    color:#fff;

    .card-icon{
      width: @r*40px;
      height:  @r*40px;
        img{
          width: 100%;
        }
    }

    .redbag-content{
      font-size:  @r*16px;
      padding: @r*8px  @r*15px;
    }
  }

  .card-footer{
    color:#999;
  }
}
