@import '../flex-box.less';

.shopping-bar{
  padding-left: @r*70px;

  .shopping-info{
    padding-top:@r*4px;
  }

  .icon{
    position: absolute;
    left: @r*10px;
    bottom: @r*5px;
    width: @r*50px;
    height: @r*50px;
    border-radius: @r*25px;
    line-height: @r*50px;
    color: #fff;
    border: @r*2px #fff solid;
    text-align: center;
    font-size: @font-size-lg;
    background: @color-primary;
  }

  .btn{
    border-radius: 0 !important;
    font-size: 1.1*@font-size-md;
    padding: 0.8em 1em;
  }
  
}
