.@{prefix}{
  &color-primary {
    color: @color-primary;
  }

  &color-primary-light {
    color: lighten(@color-primary, 20%);//@color-primary;
  }

  &color-highlight{
    color: @color-highlight;
  }

  &color-comfort{
    color: @color-comfort;
  }

  &color-light{
    color: @font-color-light;
  }

}
