.@{prefix}{
  &font-primary{
    color: @color-primary;
  }

  &font-light{
    color: @color-light;
  }

  &font-highlight{
    color: @color-highlight;
  }

  &font-comfort{
    color: @color-comfort;
  }

  &font-lg{
    font-size: @font-size-lg;
  }

  &font-sm{
    font-size: @font-size-sm;
  }

  &font-md{
    font-size: @font-size-md;
  }
}
