button,  textarea{
	outline: none;

}

input[readonly]{
    //background-color: #f9f9f9;
}

.label-lg{
	font-size: @font-size-md;
}

.@{prefix}{
  &form-control{
    width: 100%;
  }

	&textarea, &input, &select{
		background: #fff;
		border: 1px @line-color solid;
		border-radius: @radius;
		line-height: 1em;
		font-family: inherit;
		font-size: @font-size;
    appearance:none !important;
  	-moz-appearance:none !important;
		-webkit-appearance:none !important;


		&:focus{
			outline: none;
			border: 1px @color-primary solid;
		}

		&:hover{
			border: 1px @color-primary solid;
		}
	}


	&readonly{
		background: #f9f9f9;
	}

	&textarea, &textarea-underline{
		padding: @input-padding;
		font-size: @font-size !important;
	}

	&input, &select{
		padding: @input-padding;
		height: @input-height;
	}

	&input-lg, &select-lg{
		padding: @input-padding-lg;
		height: @input-height-lg;
		font-size: @font-size-md;
	}

	&input-sm, &select-sm{
		padding: @input-padding-sm;
		height: @input-height-sm;
	}

	&input-tiny, &select-tiny{
		padding: @input-padding-tiny;
		height: @input-height-tiny;
	}


	&be-wrong, &be-pass, &be-loading{
		position: relative;
		&:after{
			position: absolute;
			right: 0.4em;
			top:50%;
			font-family: @font-family-icon;
			font-size: @font-size-lg;
			height: 1em;
      line-height: 1em;
      margin-top: -0.5em;
		}

		&>i{
			display: none;
		}

	}


  &be-wrong{
		&:after{
			content: '\e6e4';
			color: @color-highlight;
		}

		&>input, &>select , &>textarea{
			border: 1px @color-highlight solid;
			box-shadow: 0 0 4px @input-shadow-color-wrong;
			&:hover,  &:focus{
				border: 1px @color-highlight solid;
				box-shadow: 0 0 4px @input-shadow-color-wrong;
			}
		}

		&>.input-underline, &>.select-underline, &>.textarea-underline{
			border-bottom: 1px @color-highlight solid !important;
	 		box-shadow: none !important;
		}
	}

  &be-pass{
		&:after{
			content: '\e656';
			color: @color-comfort;
		}

		&>input, &>select, &>textarea{
			border: 1px @color-comfort solid;
			box-shadow: 0 0 4px @input-shadow-color-pass;
			&:hover,  &:focus{
				border: 1px @color-comfort solid;
				box-shadow: 0 0 4px @input-shadow-color-pass;
			}
		}

		&>.input-underline, &>.select-underline, &>.textarea-underline{
			border-bottom: 1px @color-comfort solid !important;
	 		box-shadow: none !important;
		}
	}

	&has-icon{
		position: relative;
		i{
			position: absolute;
			right: 0.4em;
			top:50%;
			font-family: @font-family-icon;
			font-size: @font-size-lg;
			height: 1em;
      line-height: 1em;
      margin-top: -0.5em;
		}
	}

	//
	&input-underline, &select-underline, &textarea-underline{
		border: 0px !important;
		border-bottom: 1px @line-color solid !important;
	}

}
