.@{prefix}{
  &tabs-horizon{
		height: @tabs-horizon-height;
    background: #fff;

		.tabs-item{
			display: inline-block;
			font-size: @font-size-md;
			height: @tabs-horizon-height;
			line-height:@tabs-horizon-height;
			text-align: center;
      padding: 0 0.4*@padding-horizon;
      border: 0;
      background: none;
      color: @font-color;

      &:hover{
        cursor: pointer;
      }
		}

		.tabs-item-current{
			border-bottom:@r*4px @color-primary solid;
			color: @color-primary !important;
		}
	}

  &tabs-horizon-dark{
    background: @color-primary !important;

    .tabs-item{
      color: #fff;
    }

    .tabs-item-current{
			border-bottom:@r*4px lighten(@color-primary, 20%) solid ;
			color: #fff !important;
		}
  }
}
