<div style="width:330px;height:580px;">
  <div class="mobile">
    <div class="screen   khm-home-bg"  >
        <div class="layout-none" style="position:absolute;bottom:80px">
          <div class="khm-counter">
            <div class="total">
              89421.00
            </div>
            <div class="flex-box">
              <div class="flex-item-1">
                <span class="month-title">Month In</span>
                <span class="month-count">342.53</span>
              </div>
              <div class="flex-item-1">
                <span class="month-title">Month Out</span>
                <span class="month-count">3432.53</span>
              </div>
            </div>
          </div>
        </div>
       <div class="layout-bottom p0030">
         <div class="flex-box khm-bar">
           <div class="flex-item-4 flex-box flex-box-center">
             <i class="khm-bar-btn icon iconfont icon-sortlight"></i>
           </div>
           <div class="flex-item-4">
             <button type="button" class='khm-bar-center'>
               <i class="icon iconfont icon-add color-primary"></i>
             </button>
           </div>
           <div class="flex-item-4 flex-box flex-box-center">
             <i class="khm-bar-btn icon iconfont icon-profilelight"></i>
           </div>
         </div>
       </div>
    </div>
  </div>
</div>



<div style="width:330px;height:580px;margin-top:40px">
  <div class="mobile">
    <div class="screen   khm-home-bg"  >
        <div class="layout-none" style="position:absolute;bottom:80px">
          <ul class="list khm-accounts-list">
            <li class="list-item">
              <div class="menu-vertical-item">

                <div class="menu-body" style="color:#fff">
                  China Bank
                </div>
                <div class="menu-dock font-md" style="color:#fff;padding-right:0">
                  4324.432
                </div>
              </div>
            </li>
            <li class="list-item">
              <div class="menu-vertical-item">

                <div class="menu-body" style="color:#fff">
                  Alipay
                </div>
                <div class="menu-dock font-md" style="color:#fff;;padding-right:0">
                  24.432
                </div>
              </div>
            </li>
          </ul>
        </div>
       <div class="layout-bottom p0030">
         <div class="flex-box khm-bar">
           <div class="flex-item-4 flex-box flex-box-center">
             <i class="khm-bar-btn icon iconfont icon-sortlight"></i>
           </div>
           <div class="flex-item-4">
             <button type="button" class='khm-bar-center'>
               <i class="icon iconfont icon-close color-primary"></i>
             </button>
           </div>
           <div class="flex-item-4 flex-box flex-box-center">
             <i class="khm-bar-btn icon iconfont icon-profilelight"></i>
           </div>
         </div>
       </div>
    </div>
  </div>
</div>





<div style="width:330px;height:580px;margin-top:40px">
  <div class="mobile">
    <div class="screen   khm-home-bg"  >
        <div class="layout-none" style="position:absolute;bottom:80px">
          <ul class="list khm-accounts-list">
            <li class="list-item">
              <div class="menu-vertical-item">

                <div class="menu-body" style="color:#fff">
                  China Bank
                </div>
                <div class="menu-dock font-md" style="color:#fff;padding-right:0">
                  4324.432
                </div>
              </div>
            </li>
            <li class="list-item">
              <div class="menu-vertical-item">

                <div class="menu-body" style="color:#fff">
                  Alipay
                </div>
                <div class="menu-dock font-md" style="color:#fff;;padding-right:0">
                  24.432
                </div>
              </div>
            </li>
          </ul>
        </div>
       <div class="layout-bottom p0030">
         <div class="flex-box khm-bar">
           <div class="flex-item-4 flex-box flex-box-center">
             <i class="khm-bar-btn icon iconfont icon-sortlight"></i>
           </div>
           <div class="flex-item-4">
             <button type="button" class='khm-bar-center'>
               <i class="icon iconfont icon-close color-primary"></i>
             </button>
           </div>
           <div class="flex-item-4 flex-box flex-box-center">
             <i class="khm-bar-btn icon iconfont icon-profilelight"></i>
           </div>
         </div>
       </div>

       <div class="layout-opacity" style="position:absolute"></div>
       <section class="drawer drawer-bottom" style="position:absolute;background:#f2f2f2">
         <div class="drawer-box" style="background:#f2f2f2">
         <a href="#selector-list" class="code code-current-mobile" data-rel="selector-list" >

           <div class="p2222">
             <div class="">
               China Bank
             </div>
             <div style="font-size:32px;">
               324.43
             </div>



           </div>
           <div class="keyboard bt">
             <div class="bb ovf">
               <div class="board-btn br">
                 <button type="button">1</button>
               </div>
               <div class="board-btn br">
                 <button type="button">2</button>
               </div>
               <div class="board-btn">
                 <button type="button">3</button>
               </div>
             </div>

             <div class="bb ovf">
               <div class="board-btn br">
                 <button type="button"  >4</button>
               </div>
               <div class="board-btn br">
                 <button type="button">5</button>
               </div>
               <div class="board-btn">
                 <button type="button">6</button>
               </div>
             </div>


             <div class="bb ovf">
               <div class="board-btn br">
                 <button type="button"  >7</button>
               </div>
               <div class="board-btn br">
                 <button type="button">8</button>
               </div>
               <div class="board-btn">
                 <button type="button">9</button>
               </div>
             </div>

             <div class="ovf">
               <div class="board-btn br">
                 <button type="button"  >.</button>
               </div>
               <div class="board-btn br">
                 <button type="button">0</button>
               </div>
               <div class="board-btn">
                 <button type="button" class="del">Del</button>
               </div>
             </div>

             <div class="flex-box p1010" style="background:#f2f2f2">
               <div class="flex-item-4 font-md color-comfort p2020">
                 Income
               </div>
               <div class="flex-item-4 font-md color-highlight p2020">
                 Reset
               </div>
               <div class="flex-item-4 font-md color-primary p2020">
                 Outcome
               </div>
             </div>


           </div>

         </a>
       </div>
     </section>
    </div>
  </div>
</div>
