.statistics{
  padding:0.8em 0;
  width: 100%;

  .statistics-item{
    display: inline-block;
    line-height: 1.2em !important;
    padding: 0 @r*@padding-vertical;
    border-right:1px @line-color-light solid;
    .statistics-title{
      display: block;
      font-size: @r*12px;
      line-height: 1.2em;
      color:#999;
    }
    .statistics-number{
      font-size: @r*20px;
      line-height: 1em;
      display: block;
    }
  }
}
