.@{prefix}{
  &layout-top, &layout-bottom{
    position: absolute;
  }

  &layout-top{
    top: 0;
    left: 0;
    width: 100%;
  }

  &layout-bottom{
    bottom: 0;
    left:0;
    width: 100%;
  }

  &layout-fixed{
    position: fixed;
  }

}
