/*数字选择*/

@import '../common/core.less';
@import 'flex-box';

.@{prefix}{
  &number{

    .number-input{
      border:0;
      background: none;
      width: @r*40px;
      padding: @input-padding-tiny;
  		height: @input-height-tiny;
      text-align: center;
      font-size: @font-size-md;
    }

    button{
      cursor: pointer;
    }
  }

}
