@import './header';
@import './flex-box';
@import './drawer';
@import './r';

.@{prefix}{

  // 选择列表
  &selector{
    .selector-title{
        text-align: center;
        padding: 0.5em 0;
    }

    .selector-list{
      overflow-y: auto;
      // max-height: @r*200px;
      .selected{
        color: @color-primary;
        font-weight: bold;
      }

      li{
        //padding: 0.2em 0;
        line-height: 1.5em;
        font-size: @font-size-md;
      }
    }
  }

  // 带选择框的列表
  &selector-check, &selector-check-right{
    .selector-list{
      text-align: left;

      li{
        position: relative;
        padding-left: 3*@padding-horizon;
        font-weight: normal !important;
      }

      li:after, .selected:after{
        content: @font-unchecked;
  			color: @line-color;
        text-align: left;
  			position: absolute;
  			top:50%;
  			font-family: @font-family-icon;
  			font-size: @font-size-lg;
  			height: 1em;
        line-height: 1em;
        margin-top: -0.5em;
      }

      .selected:after{
        color:@color-primary !important;
        content: @font-input-pass !important;
      }
    }
  }


  // 带选择框的列表
  &selector-check{
    .selector-list{
      li:after, .selected:after{
  			left: 0.4em;
      }
    }
  }

  &selector-check-right{
    .selector-list{

      li{
        padding-left: 0;
      }
      li:after, .selected:after{
  			right: 0.5*@padding-horizon;
      }
    }
  }

  // 选择框样式
  &selector-box{
    .selector-title{
        text-align: center;
        padding: 0.5em 0;
    }

    .selector-list{
      overflow-y: auto;

      // max-height: @r*200px;
      .selected{
        color: @color-primary;
        font-weight: normal;
        border:1px @color-primary solid;
        position: relative;

        &:after{
          position: absolute;
          bottom:0;
          right:0;
          content: ''
        }
      }

      li{
        padding: 0 0.5em;
        line-height: 2em;
        border-radius: 4px;
        font-size: @font-size-md;
        float:left;
        border:1px @line-color solid;
        margin-right: 1em;
        font-size: @font-size;
      }
    }
  }

  &selector-underline{
    .selector-list{
      li{
        .rbb;
        border-bottom: 1px @line-color-light solid;
      }
    }
  }

  &selector-lg{
    .selector-list{
      li{
        padding-top: 0.7em ;
        padding-bottom: 0.7em;
      }
    }
  }


}
