.@{prefix}{
  &slider{
    position: relative;
    overflow: hidden;


    .slider-content{
      //transition: transform 0.1s;
      position: absolute;
      top:0;
      left:0;
      width: 100%;
    }
  }
}
