.@{prefix}{
  &user-box{
    background: @color-primary;
	}

  &user-info{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: @padding-vertical @padding-horizon;
    .user-avatar{
      line-height: @r*60px;
      height: @r*60px;
      width: @r*60px;
      text-align: center;
      border-radius:  @r*30px;

       img{
         width: @r*60px;
         height:@r*60px;
         border-radius: @r*30px;
         vertical-align: bottom;
       }
    }

    .user-avatar-sm{
      line-height: @r*44px;
      height: @r*44px;
      width: @r*44px;
      text-align: center;
      border-radius:  @r*22px;

       img{
         width: @r*44px;
         height:@r*44px;
         border-radius: @r*22px;
         vertical-align: bottom;
       }
    }
    .user-name{
      flex:1;
  		color:#fff;
  		font-size: @font-size-md;
      text-align: left;
      padding-left: 1.1em;
  	}
  	.user-phone{
  		font-size: @font-size;
  		font-weight: normal;
      display: block;
  	}
  }


  &user-info2{
    position: relative;

    padding-bottom: @r*40px;
    .user-avatar{

       img{
         width: @r*60px;
         height:@r*60px;
         border-radius: 30px;
         vertical-align: bottom;
       }
    }
    .user-name{
      text-align: center;
  		color:#fff;
  		font-size: @font-size-md;
  	}
  	.user-phone{
      text-align: center;
  		font-size: @font-size;
  		font-weight: normal;
      display: block;
      color: #fff;
  	}

    .user-count{
      position: absolute;
      left: @padding-horizon;
      right: @padding-horizon;
      bottom: -30px;
      height: 60px;
      line-height: 60px;
      border-radius: @radius;
      background: #fff;

    }
  }

	&user-count{
		display: flex;
    justify-content: space-around;
    align-items: center;

		background: rgba(0, 0, 0, 0.1);
		padding:0.8em 0;

    .user-count-item{
      flex:1;
  		color:#fff;
  		text-align: center;
      .user-count-title{
        font-size: @font-size-sm;
    	}
    	.user-count-number{
    		font-size: @font-size-lg;
    		line-height: 1em;
    		display: block;
    	}
  	}

	}

}
