@charset "UTF-8";

@media only screen and (max-width: @width-sm){
	.container-home{
		padding-left:0;
		padding-right:0;
		padding-top:50px;
	}

	.home-tips{
		padding:5px 10px 10px 10px;
		p{
			font-size: 18px;
			padding: 8px 0 4px 0;
		}
		span{
			font-size: 14px;
		}
	}

	.menu-btn{
		display: block;
	}

	.pagination {
		 
		bottom: 15px;
		 
	}
	.swiper-pagination-switch {

		 
		width: 10px;
		height: 10px;
		border-radius: 5px;
		background: rgba(255,255,255,0.4);
		margin:0 10px;
		cursor: pointer;
	}
}

@media only screen and (min-width: @width-sm) and (max-width: @width-md){
	.menu-btn{
		display: none !important;
	}
}

@media only screen and (min-width: @width-md) and (max-width: @width-lg){
	.menu-btn{
		display: none !important;
	}
}

@media only screen and (min-width: @width-lg){
.menu-btn{
		display: none !important;
	}
}
