//config
@prefix: 					;

//font
@font-family: 				"Helvetica Neue", Helvetica, Microsoft Yahei, Hiragino Sans GB, WenQuanYi Micro Hei, sans-serif;
@font-family-icon:			iconfont;
@font-size: 				  14px;
@font-size-sm: 				12px;
@font-size-md:				16px;
@font-size-lg:				20px;
@font-color: 				 #565a5c;
@font-color-light:			#999;
@line-height: 				1.5;
@radius:					 2px;

//padding
@padding-vertical:		@font-size;
@padding-horizon:			@font-size;
@margin-vertical:			@font-size;
@margin-horizon:			@font-size;

//color
@color-primary: 			#3492e6;//#6699FF;
@color-secondary:			#f2f2f2;
@color-light:			    #f9f9f9;
@color-highlight: 			#FF6633;
@color-comfort:				  #66CC33;

//line
@line-color: 				    #e0e0e0;
@line-color-light: 			#eee;

//link color
@link-color:				@font-color;
@link-color-active:			@color-primary;
@link-color-hover:			@color-primary;


//global header for mobile
@header-height:				60px;
@header-background: 		@color-primary;
@header-color:				#fff;
@header-color-hover:		darken(@color-primary, 10%);

@header-background-light:	#fff;
@header-color-light:		#444;
@header-color-hover-light:	darken(@color-primary, 10%);

//global sidebar menu
@sidebar-width: 			200px;
@sidebar-background:	@color-primary;
@sidebar-tab-color:			lighten(@sidebar-background, 50%);
@sidebar-tab-color-flag:	lighten(@sidebar-background, 38%);
@sidebar-mini-width: 		64px;//侧栏缩放时宽度
@sidebar-item-height: 50px;//侧栏单个菜单高度

//hover tip
@tip-padding: 				1px 4px;
@tip-background: 			#444;
@tip-color: 				#fff;
@tip-height: 				20px;
@tip-offset: 				15px;

//input
@input-padding:				9px 10px;//@btn-padding;
@input-padding-lg:			11px 16px;//@btn-padding-lg;
@input-padding-sm: 			6px 10px;
@input-padding-tiny: 		3px 6px;
@input-shadow-color:		lighten(@color-primary, 15%);
@input-shadow-color-wrong:	lighten(@color-highlight, 15%);
@input-shadow-color-pass:	lighten(@color-comfort, 15%);

@input-height:				39px;
@input-height-lg:			46px;
@input-height-sm: 			33px;
@input-height-tiny: 		27px;



//buttons
@btn-padding-tiny:			2px 6px;
@btn-padding-sm:			5px 10px;
@btn-padding:				8px 12px;
@btn-padding-lg:			10px 16px;

@btn-fontsize-sm:			@font-size;
@btn-fontsize:				@font-size;
@btn-fontsize-lg:			@font-size-md;

@btn-background:			@color-secondary;
@btn-background-primary:	@color-primary;
@btn-background-warm:		@color-highlight;
@btn-background-comfort: 	@color-comfort;


@btn-color:					@font-color;
@btn-color-primary:			#fff;
@btn-color-warm:			#fff;
@btn-color-comfort: 		#fff;

@btn-color-light:			#fff;//深色背景按钮线条色
